{% load bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title> Awards </title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    
</head>
<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper" class="fade-in">

            <!-- Intro -->
                <div id="intro">
                    <h1>This is<br />
                    Awards</h1>
                    <p> A platform where you can discover the best website designs of the world </p>
                    <ul class="actions">
                        <li><a href="#header" class="button icon solid solo  fas fa-arrow-down scrolly">Continue</a></li>
                    </ul>
                </div>

            <!-- Header -->
                <header id="header">
                    <a href="index.html" class="logo">Awards</a>
                </header>

            <!-- Nav -->
                <nav id="nav">
                    <ul class="links">
                        <li class="active"><a href="">home</a></li>
                        <li><a href=""></a></li>
                        <li><a href="">profile</a></li>
                    </ul>
                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    </ul>
                </nav>

            <!-- Main -->
                <div id="main">

                    <!-- Featured Post -->
                        <article class="post featured">
                            <header class="major">
                                <span class="date">May 22, 2021</span>
                                <h2><a href="#">This are the top rated<br />
                                websites this month</a></h2>
                                <p>Lewa house</p>
                            </header>
                            <a href="https://lewahouse.com/" class="image main"><img src="{%static 'img/post1.png' %}" alt="" /></a>
                            <ul class="actions special">
                                <li><a href="https://lewahouse.com/" class="button large">view site</a></li>
                            </ul>
                        </article>

                    <!-- Posts -->
                        <section class="posts">
                            <article>
                                <header>
                                    <span class="date"> May 14, 2021</span>
                                    <h2><a href=''></a>Medusa AE<br />
                                    </a></h2>
                                </header>
                                <a href="https://artsexperiments.withgoogle.com/medusae/" class="image fit"><img src="{%static 'img/post2.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://artsexperiments.withgoogle.com/medusae/" class="button">View site</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">May 02, 2021</span>
                                    <h2><a href="#">Ana interiors<br />
                                    </a></h2>
                                </header>
                                <a href="#" class="image fit"><img src="{%static 'img/post3.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://aainterior.com.ua/" class="button">View site</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">May 10 2021</span>
                                    <h2><a href="#">Interior Lab<br />
                                    </a></h2>
                                </header>
                                <a href="#" class="image fit"><img src="{%static 'img/post4.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://interiorlab.creative-nights.com/interiors/" class="button">View site</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">May 1, 2021</span>
                                    <h2><a href="#">CPM lab<br />
                                    </a></h2>
                                </header>
                                <a href="#" class="image fit"><img src="{%static 'img/post5.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://cpm-interiordesign.be/" class="button">View site</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">May 03, 2021</span>
                                    <h2><a href="#">Endless<br />
                                    </a></h2>
                                </header>
                                <a href="#" class="image fit"><img src="{%static 'img/post6.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://hanaiworld.com/" class="button">View site</a></li>
                                </ul>
                            </article>
                            <article>
                                <header>
                                    <span class="date">May 15, 2021</span>
                                    <h2><a href="#">Endless<br />
                                    </a></h2>
                                </header>
                                <a href="#" class="image fit"><img src="{%static 'img/post7.png' %}" alt="" /></a>
                                <p></p>
                                <ul class="actions special">
                                    <li><a href="https://theendless.co/" class="button">View site</a></li>
                                </ul>
                            </article>
                        </section>
                </div>
        

            <!-- Copyright -->
                <div id="copyright">
                    <ul><li>&copy; Wangechimk</li><li>Awards: <a href="https://www.awwwards.com/"></a>site</li></ul>
                </div>

        </div>

    <!-- Scripts -->
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
    <script src='{% static "js/script.js" %}'></script>
    <script src='{% static "js/jquery.waypoints.min.js" %}'></script>
    <script src='{% static "js/infinite.min.js" %}'></script>
    
</body>
</html>