{% extends '../awards/base.html' %} {% load static %}

<!--  -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"> {% endblock %}
<!--  -->
{% block content %}
<div class="container">
    <div class="top">
        {{request.user.profile.photos.url}}
        <img class="avatar" src="{{request.user.profile.photos.url}}" alt="">
        <div class="text">
            <h3>{{user.username|upper}}</h3>
            <p> {{user.profile.bio}}</p>
        </div>
    </div>

    <div class="row">

    </div>
</div>
{% endblock %}