{% load bootstrap5 %} {% load static %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'css/search.css' %}"> {% endblock %}

{% block content %}
<div id="cover">
    <form method="get" action="">
      <div class="tb">
        <div class="td"><input type="text" placeholder="Search" required></div>
        <div class="td" id="s-cover">
          <button type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}